/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

@font-face {
    font-family: 'nero';
    src: url('Nero.otf');
}

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	
  user-select: none;
	/*Image only BG fallback*/
	
	/*background = gradient + image pattern combo*/
	/*background: 
		linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));*/
		
  background: radial-gradient(#1a1a1a, #000);
}

body {
	font-family: montserrat, arial, verdana;
}
/*form styles*/
#msform {
	width: 400px;
	margin: 30px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	border: 5px solid green;
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}


.glitch {
  color: whitesmoke;
  font: 300 50px/1 nero, monospace;
  font-size: 90px;
  padding-top:92px;
  position: relative;
  width: 400px;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(5px, 9999px, 85px, 0);
  }
  5% {
    clip: rect(47px, 9999px, 6px, 0);
  }
  10% {
    clip: rect(47px, 9999px, 4px, 0);
  }
  15% {
    clip: rect(31px, 9999px, 11px, 0);
  }
  20% {
    clip: rect(54px, 9999px, 51px, 0);
  }
  25% {
    clip: rect(62px, 9999px, 39px, 0);
  }
  30% {
    clip: rect(31px, 9999px, 87px, 0);
  }
  35% {
    clip: rect(90px, 9999px, 98px, 0);
  }
  40% {
    clip: rect(91px, 9999px, 3px, 0);
  }
  45% {
    clip: rect(24px, 9999px, 60px, 0);
  }
  50% {
    clip: rect(88px, 9999px, 6px, 0);
  }
  55% {
    clip: rect(14px, 9999px, 40px, 0);
  }
  60% {
    clip: rect(78px, 9999px, 58px, 0);
  }
  65% {
    clip: rect(82px, 9999px, 66px, 0);
  }
  70% {
    clip: rect(48px, 9999px, 12px, 0);
  }
  75% {
    clip: rect(63px, 9999px, 43px, 0);
  }
  80% {
    clip: rect(86px, 9999px, 78px, 0);
  }
  85% {
    clip: rect(61px, 9999px, 79px, 0);
  }
  90% {
    clip: rect(98px, 9999px, 33px, 0);
  }
  95% {
    clip: rect(97px, 9999px, 51px, 0);
  }
  100% {
    clip: rect(25px, 9999px, 43px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  padding-top:92px;
  color: whitesmoke;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(88px, 9999px, 3px, 0);
  }
  5% {
    clip: rect(54px, 9999px, 84px, 0);
  }
  10% {
    clip: rect(42px, 9999px, 42px, 0);
  }
  15% {
    clip: rect(91px, 9999px, 76px, 0);
  }
  20% {
    clip: rect(60px, 9999px, 80px, 0);
  }
  25% {
    clip: rect(25px, 9999px, 36px, 0);
  }
  30% {
    clip: rect(34px, 9999px, 44px, 0);
  }
  35% {
    clip: rect(68px, 9999px, 49px, 0);
  }
  40% {
    clip: rect(93px, 9999px, 8px, 0);
  }
  45% {
    clip: rect(73px, 9999px, 99px, 0);
  }
  50% {
    clip: rect(25px, 9999px, 31px, 0);
  }
  55% {
    clip: rect(19px, 9999px, 44px, 0);
  }
  60% {
    clip: rect(19px, 9999px, 67px, 0);
  }
  65% {
    clip: rect(79px, 9999px, 15px, 0);
  }
  70% {
    clip: rect(16px, 9999px, 49px, 0);
  }
  75% {
    clip: rect(96px, 9999px, 27px, 0);
  }
  80% {
    clip: rect(29px, 9999px, 36px, 0);
  }
  85% {
    clip: rect(86px, 9999px, 92px, 0);
  }
  90% {
    clip: rect(34px, 9999px, 81px, 0);
  }
  95% {
    clip: rect(43px, 9999px, 1px, 0);
  }
  100% {
    clip: rect(30px, 9999px, 66px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  color: whitesmoke;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}


.login_link{
	color:whitesmoke !important;
	padding-top:20px !important;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: whitesmoke;
   text-align: center;
}
a{
	color:whitesmoke;
	text-decoration:none;
	
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px radial-gradient(#1a1a1a, #000);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: radial-gradient(#1a1a1a, #000); 
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray; 
}


.glitch a:hover {
  -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
  -moz-animation: neon4 1.5s ease-in-out infinite alternate;
  animation: neon4 1.5s ease-in-out infinite alternate;
}
a:hover {
  color: green;
}
@-webkit-keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}

