section{
    color:black;
    text-emphasis: none;
    text-align: center;
    text-align-last: auto;
    text-decoration-color: aquamarine;
}

/***********************
These
Lines
are
not
printed 
by 
browser
so 
you
should 
ignore
these lines
and move 
forward to 
look for flag
***************************/

nav{
    counter-reset: 0;
    align-content: center;
    color: black;
    text-emphasis: none;
    text-combine-upright: inherit;
    background-origin: padding-box;
    animation: 0ms;
}


._2eed {
	background: #1c1e21;
	border: 1px solid #4c4c4c;
	border-radius: 0;
	border-style: solid none solid solid;
	cursor: default;
	display: flex;
	flex-direction: row;
	font-size: 12px;
	margin: 10px 0;
	padding: 10px 12px;
	position: relative;
	-webkit-user-select: none
}

._2eee {
	border-radius: 0;
	height: 32px;
	width: auto
}

._3_qv {
	border-radius: 0;
	height: 48px;
	margin-top: 2px;
	width: auto
}

._2eef {
	color: #b0b0b0;
	font-weight: 300;
	padding: 0 12px
}

._3_r0 {
	margin-top: 6px
}

._2eeg {
	color: #fff;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	font-weight: 300;
	letter-spacing: -0.22px;
	margin-bottom: 1px;
	padding: 0
}

._2eeh {
	color: inherit;
	font-size: 12px;
	font-weight: 300;
	line-height: 16px;
	margin: 0 0 2px;
	padding: 0
}

/* This css file contain*/


._2eei {
	color: inherit;
	color: #909090;
	display: block;
	font-size: 11px;
	font-style: normal;
	font-weight: 300;
	letter-spacing: -0.22px
}

._g5o {
	cursor: default;
	font-size: 12px;
	margin: 10px 0;
	-webkit-user-select: none
}

._g5w {
	background: #dadde1;
	border: 1px solid #ccd0d5;
	border-radius: 0;
	border-style: none solid solid none;
	position: relative
}

._g5w ._g5u {
	margin-right: 28px
}

._g5p {
	align-items: center;
	background: #e9ebee;
	border-radius: 12px;
	color: #3b4144;
	display: flex;
	margin: 10px 20px
}

._g5q {
	margin: 0 15px
}

._g5u {
	height: 48px;
	margin: 0 15px;
	width: auto
}

._gcl {
	height: 48px;
	margin: 8px 15px;
	width: auto
}

._g5r {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 8px 0
}

._g5p h3 {
	color: inherit;
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 2px
}

._g5p p {
	color: inherit;
	flex-grow: 1;
	font-size: 11px;
	font-weight: 300;
	letter-spacing: -0.22px;
	line-height: 14px;
	margin: 0;
	padding: 0
}

._g5p cite {
	color: inherit;
	font-size: 11px;
	font-style: normal;
	letter-spacing: -0.22px;
	line-height: 14px;
	margin-bottom: 2px
}
/* flag is flag{n0t_c0n7@1n_c00r3c7_f1@6}*/
._g5w h3 {
	color: inherit;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 32px 12px 12px
}

._g5w ._g5r {
	align-items: center;
	display: flex;
	flex-direction: row;
	padding: 0 0 12px
}

._g5w p {
	color: inherit;
	flex-grow: 1;
	font-size: 11px;
	font-style: normal;
	letter-spacing: -0.22px;
	line-height: 14px;
	margin: 0;
	padding: 0
}

._g5w cite {
	color: inherit;
	color: #909090;
	display: block;
	font-size: 10px;
	font-style: normal;
	font-weight: 300;
	letter-spacing: -0.22px;
	line-height: 14px;
	margin: 12px 0 6px
}

._g5w ._g5u {
	border-radius: 0;
	margin: 0 16px
}
/* This css file contain*/

._g5z {
	background-repeat: no-repeat;
	background-size: auto;
	background-position: -67px -467px;
	display: inline-block;
	height: 16px;
	position: absolute;
	right: 5px;
	top: 8px;
	width: 16px
}

._g7w {
	background-repeat: no-repeat;
	background-size: auto;
	background-position: -92px -258px;
	bottom: 8px;
	display: inline-block;
	height: 16px;
	position: absolute;
	right: 5px;
	width: 16px
}