header{
    counter-reset: 0;
    color: blue;
    text-emphasis: none;
    text-align: center;
    text-anchor: end;
    text-decoration-line: inherit;
    symbols: -moz-element(-moz-element);
}

nav{
    counter-reset: 0;
    align-content: center;
    color: black;
    text-emphasis: none;
    text-combine-upright: inherit;
    background-origin: padding-box;
    animation: 0ms;
}

/****************************************
this css file does not contain any flag
****************************************/

/***************************************
keep searching other files to find the flag
***************************************/